*{
    padding: 0;
    margin: 0;
    border: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}
.nav-logo-box{
    height: 50px;
    width: 130px;
}
.logo{
    background-image: url(./assets/logo.png);
    background-size: cover;
    height: 100%;
    width: 100%;

}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
    border-radius: 3px;
}
/* box 2 */
.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;

}
.add-second{
    font-size: 1rem;
  margin-left: 3px;

}
.add-icon{
    display: flex;
    align-items: center;
}
/* box 3 */
.nav-search{
    display: flex;
    justify-content: space-evenly;
    
    width: 550px;
    height: 40px;
    border-radius: 4px;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;

}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color:#febd68 ;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}
.nav-search:hover{

    border: 2px solid orange;
    border-radius: 6px;
}
.flag{
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
   
}
.flag-select{
    border: none;
    font-size: 1rem;
    background-color: #0f1111;
    color: white;
}
/* box 4 */

span{
    font-size: 0.7rem;

}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}
/* box 5 */
.nav-cart i {
    font-size: 30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}
/* nav-pannel */

.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
    
}
.panel-ops p {
    display: inline;
    margin-left: 10px;
    cursor: pointer;
}
.panel-ops{
    width: 70%;
    font-size: 0.85rem;
}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}
/* main content */
.hero-section{
    background-image: url(./assets/background.jpg);
    height: 300px;
    background-size: cover;
}
/* shop section */
.box{
    margin-top: 20px;
    height: 400px;
    width: 22%;
    background-color: white;
}
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #E3E6E6;
    text-align: center;
   
}

.box-image{
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top:  1rem;
    margin-bottom: 1rem ;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
    
}
.box-content p{
    color: #007185;
}
/* footer started */
.sign{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    background-color: #cccccc;
}
.sign-button{
    margin: 5px;
    padding: 10px;
    background-color: orange;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #0f1111;
    font-size: 1rem;
}
.sign-content span{
    color: #007185;
    font-size: 1rem;
    margin-left: 5px;
}
.back{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #222f3d;

}
.back a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}
.foot-about{
    text-transform: capitalize;
    height: 230px;
    display: flex;
    justify-content: space-evenly;
    background-color:  #464444;
    color: white;
    font-size: 0.85rem;
}
.foot-about a {
    display: block;
    margin-top: 10px;
}
.foot-about ul{
    margin-top: 30px;
}
.foot-about p{
    font-size: 1.2rem;
}
.foot-last{
    background-color: #0f1111;
    color: white;
    text-align: center;
    height: 80px;
}
.pages{
    padding-top: 20px;
    font-size: 0.8rem;
}
.copyright{
    padding-top: 10px;
    font-size: 0.8rem;
}





@media screen and (max-width: 768px){
    .hero-section{
        height: 300px;
        background-repeat: no-repeat;
        background-size: 900px 700px;
    }
   
    
    .nav-search{
        width: 350px;
    }
    .navbar{
        font-size: 0.75rem;
    }
    .nav-address p{
        font-size: 0.75rem;
    }
    .flag-select{
        font-size: 0.75rem ;
    }
    .panel-all {
        font-size: 0.75rem;
    }
    .panel-ops{
        font-size: 0.75rem;
    }
    .box{
        width: 50%;
    }
}

@media screen and (max-width: 425px) {
    .hero-section{
        height: 200px;
        background-repeat: no-repeat;
        background-size: 600px 450px;
    }
    .navbar{
        flex-wrap: wrap;
        height: 200px;
    }
    .nav-address{
        display: none;
    }
    .nav-search{
        width: 400px;
    }

    .panel-all {
        font-size: 0.70rem;
    }
    .panel-ops{
        font-size: 0.70rem;
        width: 80%;
    }
    .panel-deals{
        display: none;
    }
    .box{
        width: 100%;
    }
   .foot-about{
 
    font-size: 0.80rem;

   }
   .foot-about p{
    font-size: 0.80rem ;
   }
   .last{
    display: none;
   }
 
  
}
